<h1 style="text-align: center;">{{title}}</h1>

<form action="">
  <input type="text" name="nombre" [(ngModel)]="nombre"> <br>
  <input type="text" name="apellido" [(ngModel)]="apellido"> <br>
  <input type="submit" value="Registrar" (click)="registrarUsuario()">
</form>

<br>

<ng-container *ngIf="registrado; else sinRegistrar">
  <div>
    <p>{{ mensaje }} con el nombre {{ nombre }} {{ apellido }}</p>
  </div>
</ng-container>
<ng-template #sinRegistrar>
  <div>
    <p>No registrado</p>
  </div>
</ng-template>
<br><br>

<ul>
  <li *ngFor="let entrada of entradas">{{entrada.titulo}}</li>
</ul>
